{% extends 'v2017/layout/base.html' %}

{% block herotext %}
<h1>{{ conference.title }}</h1>
<h2>{{ conference.sub_title }}</h2>
{% endblock %}

{% block scripts %}
{% if conference.venues|length > 0 %}
<script type="text/javascript">
<!--
var map;
function initMap() {
{% for venue in conference.venues %}
  (function() {
    var latlng = {lat: {{ venue.latitude }}, lng: {{ venue.longitude }}};
    map = new google.maps.Map(document.getElementById('map-{{ loop.index }}'), {
      center: latlng,
      draggable: false,
      scrollwheel: false,
      zoom: 14
    });
    var marker = new google.maps.Marker({
      position: latlng,
      map: map,
      title: "{{ venue.name }}",
    });
  })()
{% endfor %}
}
-->
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ googlemap_api_key }}&callback=initMap"></script>
{% endif %}
{% endblock %}

{% block content %}

{# external resources #}
{% if conference.external_resources | length > 0 %}
<section>
<div class="section">
<div class="inner">
<h1 class="title"><em>media</em></h1>
<div class="body col s12 m9 l10">
{% for r in conference.external_resources %}
<div class="card horizontal hoverable">
<div class="card-image">
<img src="{{ r.get('image_url') or '/static/v2017/images/media_pict_photo.jpg' }}">
</div><!--  / .card-image / -->
<div class="card-stacked">
<div class="card-action">
<a href="{{ r.get('url') }}">{{ r.get('title') }}</a>
</div><!--  / .card-action / -->
<div class="card-content">
<p>{{ r.get('description') }}</p>
</div><!--  / .card-content / -->
</div><!--  / .card-stacked / -->
</div><!--  / .card .horizontal .hoverable / -->
{% endfor %}
</div><!--  / .body /  -->
</div><!--  / .inner /  -->
</div><!--  / .section /  -->
</section>
{% endif %}

{# about the conference #}
{% set description = conference.get('description') %}
{% if description %}
<section>
<div class="section">
<div class="inner">
<h1 class="title scrollspy"><em>about</em></h1>
<div class="body col s12 m9 l10 conference-about">
<div class="section transparent">
<div>{% autoescape false %}{{ description|markdown }}{% endautoescape %}</div>
</div><!--  / .section / -->
</div><!--  / .body /  -->
</div><!--  / .inner /  -->
</div><!--  / .section /  -->
</section>
{% endif %}{# if description #}

{# dates and venue #}
<section class="">
<div class="section">
<div class="inner">
<h1 class="title"><em>date&venue</em></h1>
<div class="body col s12 m9 l10">
<div class="section transparent">
{% set venues = conference.get('venues') or [] %}{% if venues|length > 0 %}
{% for venue in venues %}
<table class="bordered highlight">
<tr>
<th data-field="venue" width="20%">{% trans %}Venue Name{% endtrans %}</th>
<td>{{ venue.address }}</td>
</tr>
<tr>
<th data-field="url">Venue Site</th>
<td><a href="http://www.kcc.keio.ac.jp/" target="_blank">http://www.kcc.keio.ac.jp/</a></td>
</tr>
<tr>
</tr>
</table>
<!-- TODO: add more annotations, update height -->
<div id="map-{{loop.index }}" class="gmap section transparent iframe"></div>
{% endfor %}
{% endif %}
</div>
</div><!--  / .body /  -->
</div><!--  / .inner /  -->
</div><!--  / .section /  -->
</section>

<section>
<div class="section">
<div class="inner">
<h1 class="title"><em>session</em></h1>
<div class="body col s12 m9 l10 conference-sessions">
<div id="" class="section transparent">
<div class="collection">
<a href="/{{ full_slug }}/sessions" class="collection-item black-text">{% trans %}Session List{% endtrans %}<i class="material-icons right deep-orange-text">&#xE896;</i></a>
</div>
</div>

{% set featured_speakers = conference.get('featured_speakers') or [] %}{% if featured_speakers | length > 0 %}
<div class="section transparent">
<h4>{% trans %}Guest Speakers{% endtrans %}</h4>
{% for speaker in conference.featured_speakers %}
<div class="row valign-wrapper">
<div class="col s4 l3">
<img src="{{ speaker.avatar_url }}" alt="{{ speaker.display_name }}" class="circle responsive-img guest-speaker-img">
</div>
<div class="col s8 l9">
<span class="black-text">
<h5>{{ speaker.display_name }}</h5>
{{ speaker.description }}
</span>
</div>
</div>
{% endfor %}
{% endif %}
</div><!--  / .body /  -->
</div><!--  / .inner /  -->
</div><!--  / .section /  -->
</section>

{% with sponsors = conference.get('sponsors') or [] %}
{% if sponsors | length > 0 %}
<section class="">
<div class="section">
<div class="inner">
<h1 class="title"><em>sponsors</em></h1>
<div class="body col s12 m9 l10">
<div id="sponsors" class="section transparent">
<h4>{% trans %}Sponsors{% endtrans %}</h4>
{% for group in sponsors|groupby('group_name') -%}
{%   set perrow = 5 -%}
{%   set liclass = 'large' -%}
{%   if group.grouper == "tier-2" -%}
{%     set perrow = 8 -%}
{%     set liclass = 'medium' -%}
{%   endif -%} 
{% for sponsor in group.list -%}
{% if loop.first %}<div class="block">
  <ul>{% endif %}
    <li class="{{ liclass }}"><a href="{{ sponsor.url }}" target="_blank"><img src="{{ sponsor.logo_url1 }}"></a></li>
{%- if loop.last %}
  </ul>
</div><!-- end block -->
{% endif -%}
{% endfor -%}{# for sponsor in group.list #}
{%- endfor -%}{# for sponsors|groupby #}
</div>
</div><!--  / .body /  -->
</div><!--  / .inner /  -->
</div><!--  / .section /  -->
</section>
{% endif %}{# if sponsors > 0 #}
{% endwith %}

<section class="">
<div class="section">
<div class="inner">
<h1 class="title"><em>team</em></h1>
<div class="body col s12 m9 l10">
<div id="staff" class="section transparent">
<h4>{% trans %}Staff{% endtrans %}</h4>
<div class="block">
<ul>
{%- for user in conference.administrators %}
  <li><a href="/{{ conference.full_slug }}/staff" target="_blank"><img src="{{ user.avatar_url }}" class="circle" /></a></li>
{% endfor %}
{%- for user in staff %}
  <li><a href="/{{ conference.full_slug }}/staff" target="_blank"><img src="{{ user.avatar_url }}" class="circle" /></a></li>
{% endfor %}
</ul>
</div>
<div id="inquiry" class="section transparent">
<h4>{% trans %}Contact Information{% endtrans %}</h4>
<p>{% autoescape false %}{{ conference.contact_information | markdown }}{% endautoescape %}</p>
</div>
<div id="sns" class="section transparent">
<div class="row">
<div class="col s12 l6">
<div class="twitter">
<a class="twitter-timeline" data-width="930" data-height="500" data-dnt="true" data-theme="light" href="https://twitter.com/{{ conference.twitter_account or 'builderscon' }}">Tweets by builderscon</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
</div>
<div class="col s12 l6">
<div class="fb-iframe">
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.7&appId=546362158903970";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-page" data-href="{{ conference.facebook_page or 'https://www.facebook.com/builderscon' }}" data-tabs="timeline" data-width="500" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
</div>
</div>
</div>
</div>
</div><!--  / .body /  -->
</div><!--  / .inner /  -->
</div><!--  / .section /  -->
</section>
{% endblock %}