@charset "utf-8";

/*//////////////////////////////////////////////////////////
//  - CSS for HTML
//////////////////////////////////////////////////////////*/

* { 
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	color: #000;
	font-size: 14px !important;
	font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", "Lucida Grande", "Tahoma", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Noto Sans Japanese", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif;
	line-height: 130% !important;
	background-color: #fff;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

#wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
}

body > #wrapper { height: auto; }

a 			{ color: #2a7ae2; text-decoration: none; }
a:link		{ color: #2a7ae2; text-decoration: none; }
a:visited	{ color: #2a7ae2; text-decoration: none; }
a:active	{ color: #2a7ae2; text-decoration: none; }
a:hover		{ color: #ea5432; text-decoration: none; }
a.disabled	{ color: #555; }


/*----------------------------------------------------------
  - HEADER
----------------------------------------------------------*/

#header,
#header .navbar-fixed {
	position: fixed !important;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0;
	z-index: 111;
}

#header nav {
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 0px;
	   -moz-box-shadow: 0px 0px 0px;
	        box-shadow: 0px 0px 0px;
}

#header .inner {
	position: relative;
	margin: 0 auto;
	padding: 0 10px;
	overflow: visible;
}

#header .inner h1 {
	position: relative;
	top: 10px;
}
#header .inner h1,
#header .inner h1 a { margin: 0; }
#header .inner h1 img { height: 30px; }

nav .brand-logo {
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	line-height: 100%;
	margin: 0;
}

nav .button-collapse,
nav .button-collapse i {
	line-height: 50px !important;
	width: auto;
	height: 50px !important;
	margin: 0;
}

.side-nav a {
	position: relative;
	color: #000;
	font-size: 15px;
	font-family: "Helvetica Neue", "Helvetica", "Roboto", "Noto Sans Japanese", sans-serif;
	font-weight: 500;
}


/*----------------------------------------------------------
  - HERO IMAGE
----------------------------------------------------------*/

#heroimage {
	position: relative;
	width: 100%;
}

#heroimage {
	position: relative;
	height: auto;
	background: #171717 url(../images/heroimage-hex.png) repeat-x center bottom;
	-webkit-background-size: auto 150%;
	   -moz-background-size: auto 150%;
		    background-size: auto 150%;
}

#heroimage .wrapper {
	position: relative;
	width: 100%;
	min-height: 320px;
	margin: 0 auto;
	padding: 80px 0 0 0;
}

#heroimage .inner {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#heroimage .column {
	position: relative;
	color: #fff;
	font-family: "DIN-Medium", "Titillium Web", "Helvetica Neue", "Helvetica", "Roboto", "Arial", "Lucida Grande", "Tahoma", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Noto Sans Japanese", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif !important;
	font-weight: 400;
	letter-spacing: 0px;
	width: 100%;
	margin: 0;
	padding: 20px;
}

#heroimage h1 { font-size: 30px; line-height: 100%; margin: 0 0 10px 0; }
#heroimage h2 { font-size: 14px; line-height: 100%; margin: 0 0 15px 0; }
#heroimage em { font-size: 36px; line-height: 100%; margin: 0; font-style: normal; }
#heroimage p { font-size: 12px; line-height: 100%; margin: 0 0 5px 0; }


/*----------------------------------------------------------
  - TOPICS
----------------------------------------------------------*/

#topics {
	background-color: #eee;
}

#topics .inner {
	margin: 0 auto;
	padding: 10px 15px;
}

#topics .inner .title {
	color: #ff0000;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	margin: 0;
	padding: 0;
}

#topics .inner .articles dl {
	border-bottom: 1px solid #fff;
	margin: 5px 0 10px 0;
	padding: 0 0 5px 0;
}

#topics .inner .articles dt,
#topics .inner .articles dd {
	font-size: 12px;
	line-height: 120%;
	margin: 0;
}

#topics .inner .articles dt {
	color: #666;
	padding: 0 0 5px 0;
}

#topics .inner .articles dd { padding: 0; }


/*----------------------------------------------------------
  - APPLICATION
----------------------------------------------------------*/

#application {
	background-color: #ea5432;
}

#application .inner {
	margin: 0 auto;
	padding: 25px 15px;
}


/*----------------------------------------------------------
  - FOOTER
----------------------------------------------------------*/

#footer-logo {
	position: relative;
	color: #fff;
	width: 100%;
	height: 70px;
	background: #000 url(../images/footer_logo.png) no-repeat center center;
	-webkit-background-size: auto 50px;
	   -moz-background-size: auto 50px;
		    background-size: auto 50px;
	text-indent: -9999px;
	text-decoration: none;
	overflow: hidden;
}

#footer {
	position: relative;
	color: #fff;
	width: 100%;
	background-color: #5db7e8;
}

#footer a { color: #000; }

#footer .inner {
	position: relative;

	margin: 0 auto;
	padding: 20px 20px 40px 20px;
}

#footer .inner .social-button {
	position: relative;
	margin: 0 auto;
	padding: 0;
	_zoom: 1;
	overflow: hidden;
}

#footer .inner .social-button ul {
	position: relative;
	float: left;
	left: 50%;
}

#footer .inner .social-button li {
	position: relative;
	left: -50%;
	float: left;
	font-size: 30px;
	margin: 0 10px;
}
#footer .inner .social-button li a { color: #fff; }

#footer .inner .contents {
	margin: 5px auto;
	padding: 0;
}

#footer .inner .contents p {
	margin: 0;
	padding: 0;
}
#footer .inner .contents .privacy-policy a {
	color: #fff;
	font-size: 80%;
}

#footer .inner .contents address { font-size: 11px; }

#pagetop {
	position: fixed;
	right: 20px;
	bottom: 20px;
	line-height: 100%;
	z-index: 99999;
}

#pagetop a {
	display: block;
	color: #000;
	font-size: 40px;
	text-align: center;
	margin: 0;
	padding: 0;
}
#pagetop a:hover { color: #ea5432; text-decoration: none; }


/*----------------------------------------------------------
  - CONTAINER
----------------------------------------------------------*/

.container {
	width: 100% !important;
	max-width: 100% !important;
}

.container section > .section {
	margin: 0;
	padding: 0;
}

.container section > .section .inner {
	position: relative;
	margin: 0 auto;
	_zoom: 1;
	overflow: hidden;
}

.container section > .section .title {
	position: absolute;
	top: -32px;
	left: -5px;
	text-align: center;
/*	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);*/
/*	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);*/
	z-index: 0;
}

.container section > .section .title em {
	display: block;
	position: relative;
	color: #ea5432;
	font-size: 72px;
	font-family: "DIN-Medium", "Titillium Web", "Helvetica Neue", "Helvetica", "Roboto", "Arial", "Lucida Grande", "Tahoma", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Noto Sans Japanese", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif !important;
	font-weight: 400;
	font-style: normal;
	text-align: right;
	line-height: 100%;
	letter-spacing: -5px;
/*	width: auto;
	height: auto;*/
/*	-webkit-transform: rotate(90deg);
	   -moz-transform: rotate(90deg);
	        transform: rotate(90deg);*/
	margin: 0;
	padding: 0;
	z-index: 0;
}

section.section-second .section { background-color: #ffffff; }
section.section-second .section { background-color: #f8c3b7; }
section.section-third .section  { background-color: #c6e6f7; }
section.section-second .section .title em { color: #ea5432; }
section.section-second .section .title em { color: #ffffff; }
section.section-third .section .title em  { color: #ffffff; }

.container section > .section .inner .body {
	position: relative;
	padding: 40px 15px 30px 15px;
	z-index: 1;
}

.container section > .section .inner .body h1,
.container section > .section .inner .body h2,
.container section > .section .inner .body h3,
.container section > .section .inner .body h4,
.container section > .section .inner .body h5,
.container section > .section .inner .body h6 { font-weight: 700; }


/*----------------------------------------------------------
  - INDEX / SHARE
----------------------------------------------------------*/

.section .inner .body .card .card-image img {
	width: 120px;
}

.section .inner .body .card .card-action,
.section .inner .body .card .card-content {
	padding: 10px 10px;
}

.section .inner .body .card .card-action {
	border-bottom: 1px solid #eeeeee;
}

.section .inner .body .card .card-content {
	font-size: 80%;
}

@media screen and (min-width: 0px) and (max-width: 479px) {
	.section .inner .body .horizontal {
		display: block;
		max-width: 75%;
		margin-right: auto;
		margin-left: auto;
	}
	.section .inner .body .horizontal .card-image {
		max-width: 100%;
	}
	.section .inner .body .horizontal .card-image img {
		border-radius: 2px 2px 0 0;
		width: 100%;
		margin: 0 auto;
	}
}

.section .inner .body table th {
	font-weight: 700;
	vertical-align: top;
}

.section .inner .body #news ul.collection {
	margin-bottom: 0;
}

.section .inner .body #news div.collection {
	margin-top: -1px;
}

.section .inner .body #news ul.collection li {}

.section .inner .body #news ul.collection span,
.section .inner .body #news ul.collection a {
	display: block;
	margin: 0;
}

.section .inner .body #news ul.collection span {
	color: #666;
	font-size: 90%;
	width: 90px;
	padding: 0;
}

.section .inner .body #news ul.collection a { padding: 0; }

#sponsors .block,
#staff .block {
	_zoom: 1;
	overflow: hidden;
}

#sponsors .block ul,
#staff .block ul {
	margin: 0 -10px 20px 0;
	padding: 0;
}

#sponsors .block ul li,
#staff .block ul li {
	float: left;
	text-align: center;
	margin: 0 10px 10px 0;
}

#sponsors .block ul li img,
#staff .block ul li img {
	padding: 5px;
	background-color: #eee;
}
#sponsors .block ul li a img,
#staff .block ul li a img { background-color: #f8c3b7; }
#sponsors .block ul li a:hover img,
#staff .block ul li a:hover img { background-color: #ea5432; }

#sponsors .block ul li.large img { width: 140px; }
#sponsors .block ul li.medium img { width: 110px; }
#sponsors .block ul li.small img { width: 90px; }
#staff .block ul li img { width: 75px; }

#sns .row .col .twitter {
	max-width: 500px;
	margin: 0 auto 20px auto;
}

#sns .row .col .fb-iframe {
	text-align: center;
	margin: 0 auto 20px auto;
}


/*----------------------------------------------------------
  - FORM
----------------------------------------------------------*/

.input-field label {
	color: #000;
}

.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label,
.input-field input[type=email]:focus + label {
	color: #000;
}

.input-field input[type=text]:focus,
.input-field input[type=password]:focus,
.input-field input[type=email]:focus {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=text].valid,
.input-field input[type=password].valid,
.input-field input[type=email].valid {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=text].invalid,
.input-field input[type=password].invalid,
.input-field input[type=email].invalid {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}

.input-field .prefix.active {
	color: #000;
}


/*----------------------------------------------------------
  - TBD
----------------------------------------------------------*/

.sample {
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	-webkit-background-size: 35px 35px;
	   -moz-background-size: 35px 35px;
		    background-size: 35px 35px;
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
	        box-sizing: content-box;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	text-indent: -9999px;
	text-decoration: none;
	overflow: hidden;
	_zoom: 1;
	overflow: hidden;
	filter:alpha(opacity=30);
	-moz-opacity: 0.3;
	opacity: 0.3;
}


