@charset "utf-8";

@import url(./foundation.css);
@import url(./common.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600,600italic,300italic,300);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(./fonts.css);
@import url(./jquery.mmenu.all.css);
@import url(./html.css);

#top #heroimage {
    position: relative;
    height: 410px;
    background: rgba(0,0,0,0) url(/static/images/heroimage-hall.png) repeat-x center 0;
}

#beacon #heroimage {
    position: relative;
    margin-top: -62px;
    margin-bottom: -79px;
    height: 600px;
    background: rgba(0,0,0,0) url(/static/images/heroimage-beacon.png) repeat-x center 0;
}

#beacon-gallery div.gallery-slot img {
    width: 200px;
    height: 200px;
}
#beacon-gallery div.gallery-slot {
    text-align: center;
}

div.sponsor-tier {
    margin-bottom: 1em;
}

div.sponsor-slot img {
    border: 5px solid #ccc;
}
div.sponsor-slot {
    padding: 5px;
    text-align: center;
}
div.tier-2 div.sponsor-name {
    font-size: 80%;
}
div.tier-3 div.sponsor-name {
    font-size: 60%;
}

div.social-button {
    margin: 10px 0px;
    display: inline-block;
    vertical-align: top;
}

strong {
    font-weight: bold;
}

@media screen and (min-width: 64em) {
    div.social-button {
        display: block;
    }
}