@charset "utf-8";

@import url(./foundation.css);
@import url(./common.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600,600italic,300italic,300);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(./fonts.css);
@import url(./jquery.mmenu.all.css);
@import url(./html.css);

#top #heroimage {
    position: relative;
    height: 410px;
    background: rgba(0,0,0,0) url(/static/images/heroimage-hall.png) repeat-x center 0;
}

#beacon #heroimage {
    position: relative;
    margin-top: -62px;
    margin-bottom: -79px;
    height: 600px;
    background: rgba(0,0,0,0) url(/static/images/heroimage-beacon.png) repeat-x center 0;
}

#beacon-gallery div.gallery-slot img {
    width: 200px;
    height: 200px;
}
#beacon-gallery div.gallery-slot {
    text-align: center;
}

div.sponsor-tier {
    margin-bottom: 1em;
}

div.sponsor-slot img {
    border: 5px solid #ccc;
}
div.sponsor-slot {
    padding: 5px;
    text-align: center;
}
div.tier-2 div.sponsor-name {
    font-size: 80%;
}
div.tier-3 div.sponsor-name {
    font-size: 60%;
}

div.social-button {
    margin: 10px 0px;
    display: inline-block;
    vertical-align: top;
}

#footer .inner .contents p.privacy-policy a {
    font-size: 80%;
    color: #fff;
}

strong {
    font-weight: bold;
}

@media screen and (min-width: 64em) {
    div.social-button {
        display: block;
    }
}

div.description-pending {
    padding: 1em;
}

div.session {
    padding: 1em;
    font-family: "MetroNovaPro-Medium","ヒラギノ角ゴ Pro W6",HiraKakuPro-W6,sans-serif;
}

div.session-title {
    font-size: 14pt;
    font-weight: bold;
}

div.session-language {
    font-size: 0.6em;
    padding: 0;
    text-align: center;
}

div.speaker-name {
    font-size: 0.8em;
}

div.speaker-avatar {
    text-align: center;
}

img.speaker-avatar {
    margin: 0px auto 5px auto;
    width: 75px;
    height: 75px;
    border: 1px solid #ccc;
}

.session-list>div:nth-child(odd) {
	background-color: white;
}

.session-list>div:nth-child(even) {
	background-color: #f1f1f1;
}

#contents .article h1.section-header:before {
    background: none;
}

#contents .article h1.section-header {
    color: #fff;
    border-radius: 10px 10px 0 0;
    background: rgba(234, 84, 50, 1);
}
