@charset "utf-8";

@import url(./foundation.css);
@import url(./common.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600,600italic,300italic,300);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(./fonts.css);
@import url(./jquery.mmenu.all.css);
@import url(./html.css);

#top #heroimage {
    position: relative;
    height: 410px;
    background: rgba(0,0,0,0) url(/static/images/heroimage-hall.png) repeat-x center 0;
}

#beacon #heroimage {
    position: relative;
    margin-top: -62px;
    margin-bottom: -79px;
    height: 600px;
    background: rgba(0,0,0,0) url(/static/images/heroimage-beacon.png) repeat-x center 0;
}

#beacon-gallery div.gallery-slot img {
    width: 200px;
    height: 200px;
}
#beacon-gallery div.gallery-slot {
    text-align: center;
}

div.sponsor-tier {
    margin-bottom: 1em;
}

div.sponsor-slot img {
    border: 5px solid #ccc;
}
div.sponsor-slot {
    padding: 5px;
    text-align: center;
}
div.tier-2 div.sponsor-name {
    font-size: 80%;
}
div.tier-3 div.sponsor-name {
    font-size: 60%;
}

div.social-button {
    margin: 10px 0px;
    display: inline-block;
    vertical-align: top;
}

#footer .inner .contents p.privacy-policy a {
    font-size: 80%;
    color: #fff;
}

strong {
    font-weight: bold;
}

@media screen and (min-width: 64em) {
    div.social-button {
        display: block;
    }
}

div.description-pending {
    padding: 1em;
}

div.session {
    padding: 1em;
    font-family: "MetroNovaPro-Medium","ヒラギノ角ゴ Pro W6",HiraKakuPro-W6,sans-serif;
}

div.abstract h5 {
    text-align: left;
    border-left: 5px solid #000;
    border-bottom: 1px solid #000;
    padding-left: 1em;
}

div.video {
    text-align: center;
}

div.video h5 {
    text-align: left;
    border-left: 5px solid #000;
    border-bottom: 1px solid #000;
    padding-left: 1em;
}

div.slide {
    text-align: center
}

div.slide h5 {
    text-align: left;
    border-left: 5px solid #000;
    border-bottom: 1px solid #000;
    padding-left: 1em;
}

div.information {
    margin-top: 3em;
}

div.information h5 {
    text-align: left;
    border-left: 5px solid #000;
    border-bottom: 1px solid #000;
    padding-left: 1em;
}


div.session-title {
    font-size: 14pt;
    font-weight: bold;
}

div.session-language {
    font-size: 0.6em;
    padding: 0;
    text-align: center;
}

div.speaker-name {
    font-size: 0.8em;
}

div.speaker-avatar {
    text-align: center;
}

img.speaker-avatar {
    margin: 0px auto 5px auto;
    width: 75px;
    height: 75px;
    border: 1px solid #ccc;
}

.session-list>div:nth-child(odd) {
	background-color: white;
}

.session-list>div:nth-child(even) {
	background-color: #f1f1f1;
}

#contents .article h1.section-header:before {
    background: none;
}

#contents .article h1.section-header {
    color: #fff;
    border-radius: 10px 10px 0 0;
    background: rgba(234, 84, 50, 1);
}

.tabs.cfptabs {
    border: 0;
    border-bottom: 1px solid #cacaca;
}

.tabs-title.cfptabs-title {
    margin-bottom: -1px;
}

a.cfptabs-title-inside {
    border-radius: 10px 10px 0px 0px;
    font-size: 1em;
}
.is-active > a.cfptabs-title-inside {
    border: 1px solid #cacaca;
    border-bottom-color: transparent;
    background-color: white;
    color: #000000;
}

.tabs-content.cfptabs-content {
    border-radius: 0px 0px 10px 10px;
    border:    1px solid #cacaca;
    border-top: 0;
    margin-bottom: 15px;
}

.tabs-panel.cfptabs-panel {
    padding: 10px;
}

#userview div.profile {
  padding: 5px;
  text-align: center;
}
#userview div.profile img {
  padding: 2px;
  border: 1px solid #ccc;
}
#userview div.profile p.name {
  text-align: center;
}
#userview span.auth_via {
  border: 1px solid #0a0;
  background-color: #cfc;
  font-weight: bold;
  font-size: 0.6em;
  color: #0a0;
  padding: 0.2em;
}

#userview div.profile-content {
  padding-left: 1em;
}

#dashboard div.profile {
  padding: 5px;
  text-align: center;
}
#dashboard div.profile img {
  padding: 2px;
  border: 1px solid #ccc;
}
#dashboard div.profile p.name {
  text-align: center;
}
#dashboard span.auth_via {
  border: 1px solid #0a0;
  background-color: #cfc;
  font-weight: bold;
  font-size: 0.6em;
  color: #0a0;
  padding: 0.2em;
}

#dashboard div.profile-content {
  padding-left: 1em;
}
#dashboard div.conference-history {
  padding-left: 2em;
}

#dashboard .invalid {
  color: #ccc;
}

#dashboard .edit-btn,
#dashboard .logout-btn {
    margin: 0 auto 0 auto;
    width: 100%;
    border-radius: 5px;
    padding: 0.5em 0 0.5em 0; 
}

#login .section-content div.login-row {
  margin: 1em;
}

#login .login-icon img{
  padding: 0;
  width: 40px;
  height: 40px;
}

#login .login-link {
  font-weight: bold;
  font-size: 2em;
}

#top .get-involved .inner .section-content div.row {
  margin: 1em 0 0 1em;
}

#top .get-involved .inner .section-content div.row .get-involved-description {
  padding-left: 1em;
}

#top .conferences .inner .section-content div.row {
  margin: 1em 0 0 1em;
}
#top .conferences .conference-name {
  padding-left: 1em;
  padding-top: 1em;
}
#top .conferences .conference-name a {
  font-size: 1.5em;
  vertical-align: middle;
}
#error #contents.error {
    margin-top: 100px;
}

.status-accepted {
  font-size: 12pt;
  color: #eee;
  padding: 5px;
  background-color: #0c0;
  border: 2px solid #393;
}
.status-pending {
  font-size: 12pt;
  color: #555;
  padding: 5px;
  background-color: #ee0;
  border: 2px solid #cc3;
}
.status-rejected {
  font-size: 12pt;
  color: #eee;
  padding: 5px;
  background-color: #e00;
  border: 2px solid #c33;
}
.section-content p.pending-notice {
  color: #444;
  font-size: 10pt;
  padding: 2em;
}

a.confirm-session-link:link,
a.confirm-session-link:visited,
a.confirm-session-link:hover,
a.confirm-session-link:active {
  color: #f00;
  font-weight: bold;
  text-decoration: underline;
}

#schedule .timetable .ttt thead {
    background: inherit;
    border: none;
}

#schedule .timetable .ttt td {
    border: none;
}

#schedule .timetable .ttt td {
    border: 1px solid #ccc;
}

#schedule .timetable .ttt td.top-left {
    border: none;
}

#schedule .timetable .ttt td.empty {
    background-color: #eee;
    border: none;
}

#schedule .timetable .ttt td.room-name {
    text-align: center;
    font-weight: bold;
}

#schedule .timetable .ttt td.time-cell {
    width: 5em;
    text-align: center;
}

#schedule .timetable .ttt td.room-col-50 {
    width: 50%;
}

#schedule .timetable .ttt td.session {
    background-color: #fff;
    text-align: left;
    vertical-align: top;
}

#schedule .timetable .ttt td.session .title {
    font-weight: bold;
}

#schedule .timetable .ttt td.session .speaker-avatar {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

#schedule .timetable .dates {
    margin-left: 4em;
    margin-bottom: 1em;
}

.user-form label {
    font-weight: bold;
    font-size: 1.1em;
}

.user-form div.label-sub {
    font-size: 0.7em;
    line-height: 100%;
    color: #888;
}

.user-form .button-row {
    margin-top: 2em;
}

.user-form .button-row button {
    border-radius: 5px;
}
