@charset "utf-8";

@import url(./foundation.css);
@import url(./common.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600,600italic,300italic,300);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(./fonts.css);
@import url(./jquery.mmenu.all.css);
@import url(./html.css);

#top #heroimage {
    position: relative;
    height: 410px;
    background: rgba(0,0,0,0) url(/assets/images/heroimage-hall.png) repeat-x center 0;
}
