{% extends 'v2017/layout/base.html' %}

{% block content %}
<section>
  <div class="section">
    <div class="inner">
      <div class="body col s12 m9 l10">
        <h2>{% trans %}Thank your for your submission!{% endtrans %}</h2>
        <p><a href="/{{ input.conference.full_slug }}/session/{{ input.id }}">{% trans %}Your submission can be viewd here{% endtrans %}</a></p>
      </div>
    </div>
  </div>
</section>
{% if conference.get('cfp_post_submit_instructions') %}
<section>
  <div class="section">
    <div class="inner">
      <div class="body col s12 m9 l10">
        {% autoescape false %}{{ conference.cfp_post_submit_instructions | markdown }}{% endautoescape %}
      </div>
    </div>
  </div>
</section>
{% endif %}
{% endblock %}
