{% extends 'v2017/layout/base.html' %}

{% block title %}{{ conference.title }} - Call For Proposals{% endblock %}

{% block menuitems %}
<li><a href="/dashboard">{% trans %}Dashboard{% endtrans %}</a></li>
<li><a href="/{{ full_slug }}">{% trans %}Conference{% endtrans %}</a></li>
{%- with sessions = conference.sessions or [] %}{% if sessions | length > 0 %}
<li><a href="/{{ full_slug }}/sessions">{% trans %}Sessions{% endtrans %}</a></li>
{% endif %}{% endwith -%}
{% endblock %}

{% block header %}
<style type="text/css">
<!--
section .inner .body p {
  margin-bottom: 1em;
}
section .inner .body ul {
  margin-bottom: 1em;
}

section .inner .body ul li {
  margin-left: 2em;
  padding-left: 0.5em;
  list-style-type: disc;
}

section .inner .body ul.dropdown-content li {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none !important;
}
-->
</style>
{% include 'v2017/session/form_styles.html' %}
{% endblock %}

{% block scripts %}
{% include 'v2017/session/form_scripts.html' %}
{% endblock %}


{% block herotext %}
<h1>Call For Proposals</h1>
<h2>{{ conference.title }}</h2>
{% endblock %}

{% block content %}
{% if not errors %}
{% block cfp_lead_text %}
  {% if 'cfp_lead_text' in conference %}
    <section>
      <div class="section">
        <div class="inner">
          <div class="body col s12 m9 l10">
            <h1>{% trans %}Submit Your Proposals!{% endtrans %}</h1>
            {% autoescape false %}{{ conference.cfp_lead_text | markdown }}{% endautoescape %}
          </div><!-- .body -->
        </div><!-- inner -->
      </div><!-- .section -->
    </section>
  {% endif %}
{% endblock %}
{% block cfp_pre_submit_instructions %}
  {% if 'cfp_pre_submit_instructions' in conference %}
    <section>
      <div class="section">
        <div class="inner">
          <div class="body col s12 m9 l10">
            <h1>{% trans %}Submission Instructions{% endtrans %}</h1>
            {% autoescape false %}{{ conference.cfp_pre_submit_instructions | markdown }}{% endautoescape %}
          </div><!-- .body -->
        </div><!-- inner -->
      </div><!-- section -->
    </section>
  {% endif %}
{% endblock %}
{% endif %}
{% with action='/%s/cfp/input' % full_slug %}
{% include "v2017/session/form.html" %}
{% endwith %}
{% endblock%}


